{% extends 'layout.html' %}

{% block title %}About{% endblock %}
{% block body %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
				<h1>Musica</h1>
				<p>Welcome to the Musica, a community for music enthusiasts to share, discuss, and discover their favorite tunes. Whether you're a die-hard music fan, a casual listener, or a musician, this forum is the perfect place to connect with like-minded individuals and immerse yourself in the world of music.</p>

				<h2>Table of Contents</h2>
				<ul>
					<li><a href="#features">Features</a></li>
					<li><a href="#usage">Usage</a></li>
					<li><a href="#contribute">Contribute</a></li>
					<li><a href="#community-guidelines">Community Guidelines</a></li>
					<li><a href="#license">License</a></li>
				</ul>

				<h2 id="features">Features</h2>
				<ul>
					<li><strong>User-friendly Interface:</strong> Musica provides an intuitive and visually appealing platform for easy navigation and interaction.</li>
					<li><strong>Music Sharing:</strong> Share your favorite songs, albums, and playlists with other users using the Spotify API.</li>
					<li><strong>Discussion Boards:</strong> Engage in heated discussions about various music genres, artists, upcoming concerts, and much more.</li>
					<li><strong>User Profiles:</strong> Customize your profile, add a profile picture, and share your musical interests with the community.</li>
					<li><strong>Search Functionality:</strong> Easily find topics, users, or music-related content through our advanced search feature to discover new and related genres and songs!</li>
				</ul>

				<h2 id="usage">Usage</h2>
				<p>The Music Forum is designed to be user-friendly and intuitive.</p>
				<ul>
					<li>Use the Spotify API to embed songs and playlists in your posts. Just paste the Spotify link, and it will be automatically embedded.</li>
					<li>Customize your profile with a picture and information about your musical interests to connect with other users who share your passions.</li>
				</ul>

				<h2 id="contribute">Contribute</h2>
				<p>We welcome input to make the Musica even better. Whether it's suggesting new features, reporting bugs, or contributing code, your input is valuable.</p>

				<h2 id="community-guidelines">Community Guidelines</h2>
				<p>We welcome all ideas and viewpoints to discuss your favorite bands, genres, concert experiences, and more!</p>

				<h2 id="license">License</h2>
				<p>N/A</p>
    		</div>
		</div>
</div>
{% endblock %}

