{% extends 'layout.html' %}

{% block title %}Search{% endblock %}

{% block body %}
<body>
    <div class="row" style="margin-right: 0;">
        <div class="col-sm-8">    
            <div class="container">
                    <h2>You searched for "{{ searched }}"</h2>
                    <br/>
                    {% if posts %}
                        <ul style="list-style-type: none;">
                            {% for post in posts %}
                                <div class="card" style="width: 100%;">
                                    <h5 class="card-header">
                                        <li>
                                            <a class="text-purple" href="{{ url_for('get_single_post', post_id=post.post_id) }}">
                                                {{ post.title }}
                                            </a>
                                        </li>
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">{{ post.body }}</p>
                                    </div>
                                </div>
                                <div class="my-4"></div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No results found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
